:root {
  --important-section-gradient: linear-gradient(90deg, #9bff61, #fffb00);
}

body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  min-height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

body > * {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: center;
}

footer, header {
  width: 100%;
  box-shadow: 0 0 5px 0 black;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background: var(--important-section-gradient);
  color: black;
}

footer {
  background: var(--important-section-gradient);
  color: black;

  box-shadow: 0 0 5px 0 black;

  width: 100%;

  padding: 1em;
}

footer p {
  font-size: 0.8em;
}
